<div class="container">  
   <div class="header">
        <h1>User Search</h1> 
        <form class="form-inline" (submit)="searchUser()">
            <input [(ngModel)]="githubUserQuery" name="user" type="search" class="input" placeholder="User name">
            <input type="submit" value="Search" class="input">    
        </form>
    </div>
           
   
    <div class="info">
        <div class="bio">
          <app-github-profile [githubProfile]="githubProfile"></app-github-profile>
        </div> 
         
        <div class="repo">
            <app-github-repos [githubRepos]="githubRepos"></app-github-repos>
       </div>
    </div> 
    
</div>